<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="java">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style th:fragment="css">
    * {
        box-sizing: border-box;
        margin: 0 auto;
    }

    label {
        display: inline-block;
        width: 100px;
    }

    #comment-group {
        width: 100%;
        padding: 10px;
    }

    span, a {
        display: inline-block;
        min-width: 100px;
    }
</style>
<body>

</body>
</html>